<div>
  <div class="modal-header bg-light">
    <h4 class="modal-title text-primary text-uppercase font-weight-bolder align-content-center">REGISTER</h4>
    <fa-icon class="text-primary mx-2" style="font-size: 1.5rem;" [icon]="change"></fa-icon>
    <button type="button" class="close text-primary" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&#215;</span>
    </button>
  </div>
  <div class="modal-body bg-white">
    <form [formGroup]="form" (ngSubmit)="confirm()">
      <div>
        <div class="form-group">
          <label >Current Password<span class="text-danger pl-1">*</span></label>
          <input formControlName="password" type="password" class="form-control" placeholder="yourpassword" [ngClass]="{ 'is-invalid': submit && f.password.errors }" autocomplete="true">
          <div *ngIf="submit && f.password.errors" class="invalid-feedback">
            <div *ngIf="(submit) && (f.password.errors.required)">Field is required.</div>
          </div>
        </div>
        <div class="form-group">
          <label >New Password<span class="text-danger pl-1">*</span></label>
          <input formControlName="newpassword" type="password" class="form-control" placeholder="yourpassword" [ngClass]="{ 'is-invalid': submit && f.newpassword.errors }" autocomplete="true">
          <div *ngIf="submit && f.newpassword.errors" class="invalid-feedback">
            <div *ngIf="(submit) && (f.newpassword.errors.required)">Field is required.</div>
            <div *ngIf="(submit) && (f.newpassword.errors.pattern)">A strong password required using symbols, uppercase and lowercase letters and digits.</div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary font-weight-bold px-4">Submit</button>
      </div>
    </form>
  </div>
</div>
