.my-nav-bg{
  background-color: dodgerblue;
  opacity: 1;
}
.navbar-brand{
  padding-top: 0;
  padding-bottom: 0;
}
.navbar{
  padding: 0 1rem;
}
.btn-group{
  display: block;
}
.dropdown-item:hover{
  background-color: darkgray;
}
.dropdown-item:focus{
  color: white;
  background-color: #dc3545;
}
.dropdown-menu{
  font-size: 0.9rem;
  max-width: none;
}
@media (max-width: 992px) {
  .container-fluid{
    padding: 0 1.2rem;
  }
}

