<div class="container shadow-lg py-2">
  <h4 class="my-2 font-weight-bold font-italic">Overview</h4>
  <p>Onedrop is a name given to a blood bank management system, which is a full-stack web application, where user can search blood anonymously, however for requesting blood or for registering into a camp a user need to be authenticated.
    The main idea is to connect all the blood banks and needy people on a single platform to help each other by save lives and time.</p>
  <p>A user can register on onedrop and request blood as well as register into a camp either as a donor or volunteer. For registering into a camp as a volunteer, the user can select a role of a volunteer as per their interest. For each successful request or transaction the user will receive a email which would be the proof for the same.
    The main goal was to learn Spring boot and Angular. This project was made to show what we have learned.</p>
  <h4 class="my-2 font-weight-bold font-italic">Technology Used</h4>
  <p class="mb-0">As we all know , a full-stack web application could be divide into 3 parts:</p>
  <ol style="margin-left: -10px">
    <li>Front-end</li>
    <li>Back-end</li>
    <li>Database</li>
  </ol>
  <p class="mb-0 font-italic">You can read about difference between a website and web application <a  href="https://aps08.medium.com/website-vs-web-application-975151803f78" target="_blank">here</a>.</p>
  <p>The <span class="font-italic font-weight-bold text-danger">Front-end( User Interface and interaction)</span> of this web application is made using angular (CLI). Angular is component based framework build on typescript (superset of javascript) for creating single page web application. We have used angular with <a class="font-italic" href="https://valor-software.com/ngx-bootstrap/#/documentation" target="_blank">NGX-boostrap</a>. You can read more about angular cli <a class="font-italic" href="https://angular.io/guide/what-is-angular" target="_blank">here</a>. Some other component which i have used are <a class="font-italic" href="https://github.com/scttcper/ngx-toastr" target="_blank">Ngx-toastr</a> and <a class="font-italic" href="https://github.com/t-ho/ngx-ui-loader" target="_blank">Ngx-ui-loader</a>. </p>
  <p>The <span class="font-italic font-weight-bold text-danger">Back-end(Data processing and Business logic)</span> of this web application is made using spring boot, which is an open source java-based framework used to create stand-alone web application, that you can “just run”.
    You can read more about it <a class="font-italic" href="https://spring.io/projects/spring-boot" target="_blank">here</a>.</p>
  <p>The <span class="font-italic font-weight-bold text-danger">Database(Storing data)</span>  contains information like units of blood given, available blood, requested blood, user credentials etc. For this web application we are using mySql for storing data. MySQL is used to store structured data and we can INSERT, EDIT, DELETE and ALTER the database using MySQL query. You can read more about it <a class="font-italic" href="https://www.mysql.com/" target="_blank">here</a>.</p>
  <h4 class="my-2 font-weight-bold font-italic">Future</h4>
  <p class="mb-0">We have followed a monolithic approach to create the back-end, however now days <a href="https://spring.io/blog/2015/07/14/microservices-with-spring" target="_blank" class=" font-italic">microservice architecture</a>  is followed everywhere. So in future I <a href="https://github.com/aps08" target="_blank" class="font-weight-bold font-italic">(aps08)</a> will be releasing a a modified version of the back-end using a microservice architecture, or a new project using micro-service.</p>
  <h4 class="my-2 font-weight-bold font-italic">Contributors</h4>
  <p class="mb-0">(If you like this project follow us on github. Feel free to contact us on LinkedIn or twitter)</p>
  <ol class="mb-1" style="margin-left: -10px;">
    <li><a href="https://github.com/aps08">aps08</a></li>
    <li><a href="https://github.com/PortiaHarsh">PortiaHarsh</a></li>
    <li>Divya Nadig (<a href="https://www.linkedin.com/in/divya-n-8001451bb/">LinkedIn</a>)</li>
    <li>Vishesh Punmiya (<a href="https://www.linkedin.com/in/vishesh-punmiya-651908204/">LinkedIn</a>)</li>
  </ol>
  <h4 class="my-2 font-weight-bold font-italic">Bonus</h4>
  <p class="mb-0">Some of the important implementation includes: </p>
  <ul class="mb-0" style="margin-left: -10px;">
    <li>Interceptor in angular.</li>
    <li>Role based routing in angular.</li>
    <li>Reactive form validation.</li>
    <li>Jwt implementation in Spring boot using MySQL.</li>
    <li>Web development learning path and resources.</li>
  </ul>
  <p class="pl-4 mb-0">and many more.</p>
</div>


