<div class="container shadow-lg pt-2">
  <h4 class="my-2 font-weight-bold font-italic">Why should we donate blood?</h4>
  <p><a class="font-italic" href="https://en.wikipedia.org/wiki/Blood" target="_blank">Blood </a> is the most precious gift that anyone can give to another person — the gift of life.
    A decision to donate your blood can save a life, or even several if your blood is
    separated into its components — <span class="text-danger font-weight-bold">red cells, platelets and plasma</span> — which can be used
    individually for patients with specific conditions.
  </p>
  <p class="mb-0">Safe blood saves lives and improves health. Blood transfusion is needed for:</p>
  <ul style="margin-left: -10px;">
    <li>Women with complications of pregnancy, such as ectopic pregnancies and
      haemorrhage before, during or after childbirth.</li>
    <li>Children with severe anaemia often resulting from malaria or malnutrition.</li>
    <li>People with severe trauma following man-made and natural disasters.</li>
    <li>Many complex medical and surgical procedures and cancer patients.</li>
  </ul>
  <p>It is also needed for regular transfusions for people with conditions such as
    thalassaemia and sickle cell disease and is used to make products such as clotting
    factors for people with <a class="font-italic" href="https://en.wikipedia.org/wiki/Haemophilia" target="_blank">haemophilia</a>.</p>
  <p>There is a constant need for regular blood supply because blood can be stored for only
    a limited time before use. Regular blood donations by a sufficient number of healthy
    people are needed to ensure that safe blood will be available whenever and wherever it
    is needed.</p>
  <h4 class="my-2 font-weight-bold font-italic">Work of blood in our body</h4>
  <p>Blood is a liquid in humans and many animals. Blood is pushed through the <a target="_blank" href="https://simple.wikipedia.org/wiki/Organism" class="font-italic">organism</a>  by the <a target="_blank" href="https://simple.wikipedia.org/wiki/Heart" class="font-italic">heart</a>,
    and brings nutrients and <a target="_blank" href="https://simple.wikipedia.org/wiki/Oxygen" class="font-italic">oxygen</a>  to our tissues. It also takes away waste and <a target="_blank" href="https://simple.wikipedia.org/wiki/Carbon_dioxide" class="font-italic">carbon dioxide</a>
    from <a target="_blank" href="https://simple.wikipedia.org/wiki/Tissue_(biology)" class="font-italic">tissues</a>.</p>
  <p>Blood is made up of blood plasma and various cells — <span class="text-danger font-weight-bold">red cells, platelets and plasma</span>
    . <a target="_blank" href="https://simple.wikipedia.org/wiki/Platelet" class="font-italic">Platelets</a> help blood to clot. <a target="_blank" href="https://simple.wikipedia.org/wiki/Hemoglobin" class="font-italic">Hemoglobin</a> is in red blood cells. White blood cells
    help fight infections and heal wounds.</p>
  <p>Blood has many different functions, including: transporting oxygen and nutrients to the lungs
    and tissues, forming blood clots to prevent excess blood loss, carrying cells and antibodies
    that fight infection.</p>
  <h4 class="my-2 font-weight-bold font-italic">Types</h4>
  <p>There are four major blood groups determined by the presence or absence of two antigens – A
    and B – on the surface of red blood cells. In addition to the A and B antigens, there is a protein
    called the <a target="_blank" href="https://en.wikipedia.org/wiki/Rh_blood_group_system" class="font-italic">Rh factor</a>, which can be either present (+) or absent (–), creating the 8 most common
    blood types (A+, A-, B+, B-, O+, O-, AB+, AB-). Here are very specific ways in which blood types must be matched for a safe
    transfusion. The right blood transfusion can mean the difference between life and
    death.</p>
  <h4 class="my-2 font-weight-bold font-italic">Blood donation</h4>
  <p>A blood donation occurs when a person voluntarily has blood drawn and used
    for <a target="_blank" href="https://en.wikipedia.org/wiki/Blood_transfusion" class="font-italic">transfusions</a> and/or made into biopharmaceutical medications by a process
    called <a target="_blank" href="https://en.wikipedia.org/wiki/Blood_fractionation" class="font-italic">fractionation</a> (<span class="font-weight-bold text-danger">separation of whole blood components</span>). Donation may be of whole blood, or of
    specific components directly (<a target="_blank" href="https://en.wikipedia.org/wiki/Apheresis" class="font-italic">apheresis</a>). Blood banks often participate in the collection process as
    well as the procedures that follow it.
  </p>
  <div class="ml-2">
    <h5 class="my-2 font-weight-bold font-italic">Types of blood donation</h5>
    <p class="mb-0">The main types of blood donation include:</p>
    <ul>
      <li><span class="font-weight-bold text-danger">Blood</span> – a standard donation, consisting of plasma, red and white blood cells, platelets, antibodies and other components.</li>
      <li><span class="font-weight-bold text-danger">Plasma</span> (known as <a target="_blank" href="https://en.wikipedia.org/wiki/Apheresis" class="font-italic">apheresis</a>) – plasma is separated from the other components by a special machine, and the red blood cells are returned to the donor in cycles throughout the donation.</li>
      <li><span class="font-weight-bold text-danger">Platelets</span> (known as <a target="_blank" href="https://en.wikipedia.org/wiki/Plateletpheresis" class="font-italic">plateletpheresis</a>) – done in a similar way to plasma donation, but the red cells and plasma are returned to the donor. </li>
    </ul>
    <p class="mb-0">Less common donations include:</p>
    <ul>
      <li><span class="font-weight-bold text-danger">Autologous</span> – prior to a scheduled operation or transfusion, a person donates blood for their own use.</li>
      <li><span class="font-weight-bold text-danger">Directed or designated donation</span> – a donor can give blood that will be used for a specific person.</li>
    </ul>
    <p><a target="_blank" href="https://www.encyclopedia.com/medicine/encyclopedias-almanacs-transcripts-and-maps/autologous-blood-donation-0" class="font-italic">Autologous</a> and <a target="_blank" href="https://fourhearts.org/directed-donations/" class="font-italic">directed donations</a> are now rare, occurring only in special medical cases. These blood donations have the same risks as regular blood donations.</p>
  </div>
  <div class="row">
    <div class="col-lg-6 img"></div>
    <div class="col-lg-6 px-0">
      <table style="width: 100%;" class="table table-bordered mb-0 shadow-lg">
        <thead class="text-center">
        <tr>
          <th colspan="3" class="text-white" style="background: #c0392b;">Compatible Blood Type Donors</th>
        </tr>
        <tr>
          <td><b>Blood Type</b></td>
          <td><b>Donate Blood To</b></td>
          <td><b>Receive Blood From</b></td>
        </tr>
        </thead>
        <tbody class="text-center">
        <tr>
          <td><span style="color: #c0392b;"><b>A+</b></span></td>
          <td>A+ AB+</td>
          <td>A+ A- O+ O-</td>
        </tr>
        <tr>
          <td><span style="color: #c0392b;"><b>O+</b></span></td>
          <td>O+ A+ B+ AB+</td>
          <td>O+ O-</td>
        </tr>
        <tr>
          <td><span style="color: #c0392b;"><b>B+</b></span></td>
          <td>B+ AB+</td>
          <td>B+ B- O+ O-</td>
        </tr>
        <tr>
          <td><span style="color: #c0392b;"><b>AB+</b></span></td>
          <td>AB+</td>
          <td>Everyone</td>
        </tr>
        <tr>
          <td><span style="color: #c0392b;"><b>A-</b></span></td>
          <td>A+ A- AB+ AB-</td>
          <td>A- O-</td>
        </tr>
        <tr>
          <td><span style="color: #c0392b;"><b>O-</b></span></td>
          <td>Everyone</td>
          <td>O-</td>
        </tr>
        <tr>
          <td><span style="color: #c0392b;"><b>B-</b></span></td>
          <td>B+ B- AB+ AB-</td>
          <td>B- O-</td>
        </tr>
        <tr>
          <td><span style="color: #c0392b;"><b>AB-</b></span></td>
          <td>AB+ AB-</td>
          <td>AB- A- B- O-</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

